.venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.DS_Store

labs/lab_01/src/*.egg-info/
labs/lab_01/src/**/*.egg-info/
labs/lab_01/exports/
labs/lab_02/src/*.egg-info/
labs/lab_02/src/**/*.egg-info/
labs/lab_02/exports/
labs/lab_03/src/*.egg-info/
labs/lab_03/src/**/*.egg-info/
labs/lab_03/exports/
